$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);

$radius: 5px;
$spacing: 1.5rem;
$site-width: 1024px;
$container-width: 700px;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
